@using Web.ViewModels.CartViewModels
@*
*@
@{
}

@model IndexViewModel

<form asp-action="UpdateCart" asp-controller="Cart" method="post">
    @if (Model.UserCart.CartItems is not null && Model.UserCart.CartItems.Count() > 0)
    {
        @for(int i = 0; i < Model.UserCart.CartItems.Count(); i++)
        {
            <section>
                <p><b>@Model.UserCart.CartItems[i].ProductName</b> x @Model.UserCart.CartItems[i].Quantity <br>
                    <small>@Model.UserCart.CartItems[i].ProductBrand</small>
                </p>
            <input type="hidden" name="@("productAndQuantity[" + i +"].Key")" value="@Model.UserCart.CartItems[i].Id" />
            <input type="number" name="@("productAndQuantity[" + i +"].Value")" value="@Model.UserCart.CartItems[i].Quantity" />
            </section>
        }

        <p>Total: @Model.TotalPrice()</p>

        <button type="submit" class="btn btn-info">Update Cart</button>
    }
    else
    {
        <p>There are no products in the shopping cart yet!</p>
    }
</form>

<a asp-controller="Catalog"
   asp-action="Index">Return to Home</a>

<a asp-controller="Order"
   asp-action="CreateOrder">Go to Checkout</a>
