@using Web.ViewModels.CatalogViewModels

@model IndexViewModel




<div class="productHeader">
    <img class="productPageImage" src="@Model.Product.PictureUrl" border="0" />
    <div class="productPageProductInformation">
        <p class="productPageBrand">@Model.Product.Brand.Name</p>
        <p class="productPageProduct">@Model.Product.Name</p>
        <p class="productPagePrice">@Model.Product.Price kr</p>
        <p>@Model.Product.Description</p>

        <form asp-action="AddToCart" asp-controller="Cart" method="post">
            <input asp-for="@Model.ProductId" type="hidden" name="productId" value="@Model.Product.Id">
            <input type="submit" class="addToCartButton" value="Add To Cart">
        </form>
    </div>
</div>

