@using Web.ViewModels.CatalogViewModels

@model IndexViewModel




<ul>
    <li>
        <p>@Model.Product.Name</p>
        <p>@Model.Product.Price</p>
        <p>@Model.Product.Description</p>
        <p>@Model.Product.Brand.Name</p>
    </li>
</ul>


<form asp-action="AddToCart" asp-controller="Cart" method="post">
    <label class="catalog-label" data-title="brand">
        <input asp-for="@Model.ProductId" type="hidden" name="productId" value="@Model.Product.Id">
        <input type="submit" class="astextsubmit" value="Add To Cart">
    </label>
</form>