@using ApplicationCore.DTOs
@model NavbarCategoryModel


@foreach (var category in Model.Categories)
{
    <div class="dropdown">
        <button class="dropbtn">@category.Name</button>
        <div class="dropdown-content">
        <h4>Product Types</h4>
        @foreach (var item in Model.ProductTypes)
        {
            @if (item.Category.Name == category.Name)
            {
                <form asp-action="Category" asp-controller="Catalog" method="post">
                        <input asp-for="ProductTypeId" type="hidden" value="@item.Id">
                        <input type="submit" class="astextsubmit" value="@item.Name">
                </form>

            }
        }
        <h4>Brands</h4>
        @foreach(var item in Model.Brands)
        {
             <form asp-action="Brand" asp-controller="Catalog" method="post">
                        <input asp-for="BrandId" type="hidden" value="@item.Id">
                        <input type="submit" class="astextsubmit" value="@item.Name">
                </form>
        }
        </div>
    </div>
}

