@using Web.ViewModels.OrderViewModels
@*
*@
@{
}

@model CheckoutViewModel

<form asp-action="AutofillAddressInformation" asp-controller="Order" method="post" class="postal-code-form">
    <div class="postalContainer">
        <input type="text" name="postalCode" type="text" placeholder="Postal Code" class="postalCodeInput" />
        <button type="submit" class="btn btn-info">Service Point</button>
    </div>
    @if (Model.PostalCode is not null)
    {
        <h4>Service Point</h4>
        <p>
            <b>
                @Model.AddressName<br>
                @Model.StreetAddress<br>
                @Model.City @Model.PostalCode
            </b>
        </p>
    }
</form>


<div class="container">
    <form asp-action="Checkout" asp-controller="Order" method="post">
        <div asp-validation-summary="All">
            @if (Model.UserCart.CartItems is not null && Model.UserCart.CartItems.Count() > 0)
            {
                <div class="productListTwo">
                    @for (int i = 0; i < Model.UserCart.CartItems.Count(); i++)
                    {
                        <section class="productContainer">
                            <img class="productImage" src="@Model.UserCart.CartItems[i].PictureUrl" height="113" width="113" border="0" />
                            <p class="productDisplay">
                                <b>@Model.UserCart.CartItems[i].ProductName</b> <br>
                                <small>@Model.UserCart.CartItems[i].ProductBrand</small> <br>
                            </p>
                        </section>
                        <p class="itemPrice">@Model.UserCart.CartItems[i].Price kr</p>
                        <hr />
                    }
                    <div class="priceContainerTwo">
                            <p class="priceSum">Total:</p>
                            <p class="priceSumTotal">@Model.TotalPrice() kr</p>
                        </div>
                </div>
            }
            else
            {
                <p>There are no products in the shopping cart yet!</p>
            }
            <div class="inputContainer">
                <input asp-for="FullName" autocapitalize="words" type="text" placeholder="Name">
                <input asp-for="EmailAddress" type="text" placeholder="Email">
                <input asp-for="PhoneNumber" type="text" placeholder="Phone Number" />
                <input asp-for="PostalCode" type="hidden" value=@(Model.PostalCode ?? null) />
                <input asp-for="StreetAddress" type="hidden" value=@(Model.StreetAddress ?? null)>
                <input asp-for="City" type="hidden" value=@(Model.City ?? null)>
                <input asp-for="AddressName" type="hidden" value=@(Model.AddressName ?? null)>
                <button type="submit" class="order-button">Place Order</button>
                <a asp-controller="Catalog"
                   asp-action="Index" button type="submit" class="order-button">Cancel Order</a>
            </div>

        </div>
    </form>
</div>



