@using Web.ViewModels.OrderViewModels
@*
*@
@{
}

@model CheckoutViewModel

<form asp-action="Checkout" asp-controller="Order" method="post">
    <div asp-validation-summary="All">
        @if (Model.UserCart.CartItems is not null && Model.UserCart.CartItems.Count() > 0)
        {
            @for (int i = 0; i < Model.UserCart.CartItems.Count(); i++)
            {
                <p><b>@Model.UserCart.CartItems[i].ProductName</b></p>
                <p>@Model.UserCart.CartItems[i].ProductBrand</p>
                <p>Quantity: @Model.UserCart.CartItems[i].Quantity</p>
                <input type="hidden" name="@("productAndQuantity[" + i +"].Key")" value="@Model.UserCart.CartItems[i].Id" />
                <input type="number" name="@("productAndQuantity[" + i +"].Value")" value="@Model.UserCart.CartItems[i].Quantity" />
            }
            <p>Total: @Model.TotalPrice()</p>
        }
        else
        {
            <p>There are no products in the shopping cart yet!</p>
        }
        <ul style ="list-style: none;">
            <li>
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" type="text">
            </li>
            <li>
                <label asp-for="LastName"></label>
                <input asp-for="LastName" type="text">
            </li>
            <li>
                <label asp-for="EmailAddress"></label>
                <input asp-for="EmailAddress" type="text">
            </li>
            <li>
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" type="text">
            </li>
            <li>
                <label asp-for="ZipCode"></label>
                <input asp-for="ZipCode" type="text"/>
            </li>
            <li>
                <label asp-for="StreetAddress"></label>
                <input asp-for="StreetAddress" type="text">
            </li>
            <li>
                <label asp-for="County"></label>
                <input asp-for="County" type="text">
            </li>
            <li>
                <label asp-for="City"></label>
                <input asp-for="City" type="text">
            </li>
            <li>
                <label asp-for="AddressName"></label>
                <input asp-for="AddressName" type="text">
            </li>
            
        </ul>

        <button type="submit" class="btn btn-info">Pay</button>
    </div>
</form>

<a asp-controller="Catalog"
   asp-action="Index">Return to Home</a>

<a asp-controller="Order"
   asp-action="CreateOrder">Go to Checkout</a>
