@using Web.ViewModels.OrderViewModels
@*
*@
@{
}

@model CheckoutViewModel

<form asp-action="AutofillAddressInformation" asp-controller="Order" method="post">
    <label>Postal Code</label>
    <input type="text" name="postalCode" type="text" />
    <button type="submit" class="btn btn-info">Get Closest Service Point</button>
    @if (Model.PostalCode is not null)
    {
        <h4>Service Point</h4>
        <p>
            <b>
                @Model.AddressName<br>
                @Model.StreetAddress<br>
                @Model.City @Model.PostalCode
            </b>
        </p>
    }
</form>

<form asp-action="Checkout" asp-controller="Order" method="post">
    <div asp-validation-summary="All">
        @if (Model.UserCart.CartItems is not null && Model.UserCart.CartItems.Count() > 0)
        {
            @for (int i = 0; i < Model.UserCart.CartItems.Count(); i++)
            {
                <section>
                    <p>
                        <b>@Model.UserCart.CartItems[i].ProductName</b> x @Model.UserCart.CartItems[i].Quantity<br>
                        <small>@Model.UserCart.CartItems[i].ProductBrand</small>
                    </p>
                </section>
                @*<input type="hidden" name="@("productAndQuantity[" + i +"].Key")" value="@Model.UserCart.CartItems[i].Id" />
        <input type="number" name="@("productAndQuantity[" + i +"].Value")" value="@Model.UserCart.CartItems[i].Quantity" />*@
            }
            <p>Total: @Model.TotalPrice()</p>
        }
        else
        {
            <p>There are no products in the shopping cart yet!</p>
        }
        <ul style="list-style: none;">
            <li>
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" type="text">
            </li>
            <li>
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" type="text">
            </li>
            <li>
                <label asp-for="EmailAddress">Email Address</label>
                <input asp-for="EmailAddress" type="text">
            </li>
            <li>
                <label asp-for="PhoneNumber">Phone Number</label>
                <input asp-for="PhoneNumber" type="text">
            </li>
            <li>
                <input asp-for="PostalCode" type="hidden" value=@(Model.PostalCode ?? null) />
            </li>
            <li>
                <input asp-for="StreetAddress" type="hidden" value=@(Model.StreetAddress ?? null)>
            </li>
            <li>
                <input asp-for="City" type="hidden" value=@(Model.City ?? null)>
            </li>
            <li>
                <input asp-for="AddressName" type="hidden" value=@(Model.AddressName ?? null)>
            </li>

        </ul>

        <button type="submit" class="btn btn-info">Pay</button>
    </div>
</form>



<a asp-controller="Catalog"
   asp-action="Index">Back</a>

